In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
import plotly as plt

import plotly.graph_objs as go
import plotly.subplots as sp
from plotly.subplots import make_subplots
import plotly.express as px

## Datasets

In [2]:
data_ben = pd.read_csv("../data/benin-malanville.csv")
data_sier = pd.read_csv("../data/sierraleone-bumbuna.csv")
data_togo = pd.read_csv("../data/togo-dapaong_qc.csv")

## EDA - Benin

In [3]:
data_ben

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [4]:
data_ben.shape

(525600, 19)

In [5]:
columns = data_ben.columns
columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

### Statistical Summary

In [6]:
data_ben.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

### General Info

In [7]:
data_ben.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

#### ***Observation***
1. All data columns except the 'Commnets' are non-null 
2. All data columns except 'TimeStamp' are numeric

### Duplicate Entry

In [8]:
data_ben.duplicated().sum()

np.int64(0)

No duplicated data records in the dataset

### Missing Value

In [9]:
data_ben.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

No null values except the 'Comments' column is all null.

### Irrelevant Negative Values

In [10]:
negatives = data_ben[['GHI', 'DNI', 'DHI', 'ModA', 'ModB','WS','WSgust']].lt(0).sum()
negatives

GHI       258847
DNI       275987
DHI       259182
ModA           0
ModB           0
WS             0
WSgust         0
dtype: int64

GHI, DNI and DHI have significant negative values

### Manage negatives and null values
- assign zero for all negative GHI, DNI and DHI values
- drop the 'Comments' column since it is Null and not significant for analysis

In [11]:
data_ben['GHI'] = data_ben['GHI'].apply(lambda x: max(x,0))
data_ben['DNI'] = data_ben['DNI'].apply(lambda x: max(x,0))
data_ben['DHI'] = data_ben['DHI'].apply(lambda x: max(x,0))

In [12]:
negatives = data_ben[['GHI', 'DNI', 'DHI', 'ModA', 'ModB','WS','WSgust']].lt(0).sum()
negatives

GHI       0
DNI       0
DHI       0
ModA      0
ModB      0
WS        0
WSgust    0
dtype: int64

All negative values are replaced by '0'

### Drop 'Comments' Column

In [13]:
data_ben_clean = data_ben.drop(columns=['Comments'])

In [14]:
data_ben_clean.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB'],
      dtype='object')

### Outlier Analysis
1. Distribution analysis
2. Skewness and Kertosis analysis
3. Z-score analyis
4. Determine outliers

#### Timeseries Analysis

In [15]:
data_ben_clean.set_index('Timestamp',inplace=True)

##### Line Plots

In [16]:
# Plotting GHI, DNI, DHI, and Tamb over time
fig = go.Figure()

# Adding GHI, DNI, DHI to the plot
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['GHI'], mode='lines', name='GHI', line=dict(color='orange')))
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['DNI'], mode='lines', name='DNI', line=dict(color='red')))
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['DHI'], mode='lines', name='DHI', line=dict(color='blue')))

# Adding Tamb to a secondary y-axis
fig.update_layout(
    title="Solar Irradiance Components (GHI, DNI, DHI) and Ambient Temperature Over Time",
    xaxis_title="Time",
    yaxis_title="Irradiance (W/m^2)",
    yaxis2=dict(title="Temperature (Â°C)", overlaying='y', side='right'),
    legend=dict(x=0.01, y=0.99),
)
# Adding Tamb to the plot using secondary y-axis
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['Tamb'], mode='lines', name='Tamb', yaxis="y2", line=dict(color='green')))

fig.show()

##### Area Plots

In [ ]:
# Plotting GHI, DNI, DHI, and Tamb over time
fig = go.Figure()

# Adding GHI, DNI, DHI to the plot
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['GHI'], mode='none', fill='tozeroy', name='GHI', line=dict(color='orange')))
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['DNI'], mode='none', fill='tozeroy', name='DNI', line=dict(color='red')))
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['DHI'], mode='none', fill='tozeroy', name='DHI', line=dict(color='blue')))

# Adding Tamb to a secondary y-axis
fig.update_layout(
    title="Solar Irradiance Components (GHI, DNI, DHI) and Ambient Temperature Over Time",
    xaxis_title="Time",
    yaxis_title="Irradiance (W/m^2)",
    yaxis2=dict(title="Temperature (Â°C)", overlaying='y', side='right'),
    legend=dict(x=0.01, y=0.99),
)
# Adding Tamb to the plot using secondary y-axis
fig.add_trace(go.Scatter(x=data_ben_clean.index, y=data_ben_clean['Tamb'], mode='lines', name='Tamb', yaxis="y2", line=dict(color='green')))

fig.show()

#### Correlation Analysis

##### Heatmap

In [ ]:
# Step 1: Correlation Heatmap using Plotly

# Selecting relevant columns for the heatmap
corr_data = data_ben_clean[['GHI', 'DNI', 'DHI', 'TModA', 'TModB']]

# Calculating the correlation matrix
corr_matrix = corr_data.corr()

# Plotly Heatmap
heatmap = go.Figure(data=go.Heatmap(
                   z=corr_matrix.values,
                   x=corr_matrix.columns,
                   y=corr_matrix.columns,
                   colorscale='Viridis'))

heatmap.update_layout(title='Correlation Heatmap between Solar Radiation Components and Temperature Measures')
heatmap.show()

##### Pair Plot

In [ ]:
# Step 2: Pairplot using Plotly

# Selecting relevant columns for the pairplot
pairplot_data = data_ben_clean[['GHI', 'DNI', 'DHI', 'WS', 'WSgust', 'WD', 'TModA', 'TModB']]

# Creating a pairplot (scatter matrix) using Plotly Express
pairplot = px.scatter_matrix(pairplot_data, dimensions=pairplot_data.columns, title="Pairplot: Solar Radiation, Temperature Measures, and Wind Conditions")

# Updating layout for better visuals
pairplot.update_traces(diagonal_visible=False)  # Hide diagonal plots for better clarity
pairplot.update_layout(width=1200, height=1200)
pairplot.show()

##### Temperature Analysis

##### Heatmap

In [1]:
# Correlation Analysis between RH, Temperature, and Solar Radiation
corr_data = data_ben_clean[['RH', 'GHI', 'DNI', 'DHI', 'TModA', 'TModB']]
corr_matrix = corr_data.corr()

# Plotly Heatmap for Correlation Matrix
heatmap = go.Figure(data=go.Heatmap(
    z=corr_matrix.values,
    x=corr_matrix.columns,
    y=corr_matrix.columns,
    colorscale='Viridis'))

heatmap.update_layout(title='Correlation Heatmap: Influence of RH on Temperature and Solar Radiation')
heatmap.show()

NameError: name 'data' is not defined

##### Pair Plot

In [ ]:
# Scatter Plots for RH vs Temperature and RH vs Solar Radiation
scatter_fig = px.scatter_matrix(data_ben_clean, 
                                dimensions=['RH', 'GHI', 'DNI', 'DHI', 'TModA', 'TModB'], 
                                title="Scatter Matrix: Influence of RH on Temperature and Solar Radiation")

scatter_fig.update_traces(diagonal_visible=False)
scatter_fig.update_layout(width=1200, height=1200)
scatter_fig.show()

##### RH Influence - Heatmap

In [ ]:
# Heatmap for RH vs Temperature (TModA)
heatmap_tmoda = go.Figure(data=go.Histogram2d(
    x=data_ben_clean['RH'], 
    y=data_ben_clean['TModA'], 
    colorscale='Viridis'))

heatmap_tmoda.update_layout(
    title='Heatmap: Relative Humidity (RH) vs Temperature (TModA)',
    xaxis_title='Relative Humidity (%)',
    yaxis_title='Temperature of Module A (Â°C)',
)
heatmap_tmoda.show()

# Heatmap for RH vs Solar Radiation (GHI)
heatmap_ghi = go.Figure(data=go.Histogram2d(
    x=data_ben_clean['RH'], 
    y=data_ben_clean['GHI'], 
    colorscale='Viridis'))

heatmap_ghi.update_layout(
    title='Heatmap: Relative Humidity (RH) vs Global Horizontal Irradiance (GHI)',
    xaxis_title='Relative Humidity (%)',
    yaxis_title='Global Horizontal Irradiance (W/m^2)',
)
heatmap_ghi.show()

## EDA - Sierraleone

In [ ]:
data_sier

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-10-29 23:56,-1.6,-0.1,-2.9,0.0,0.0,24.0,100.0,0.0,0.0,0.0,0.0,0.0,999,0,0.0,24.2,24.5,NaN
525596,2022-10-29 23:57,-1.7,-0.1,-3.0,0.0,0.0,24.0,100.0,0.0,0.0,0.0,0.0,0.0,999,0,0.0,24.2,24.5,NaN
525597,2022-10-29 23:58,-1.7,-0.1,-3.1,0.0,0.0,24.0,100.0,0.0,0.0,0.0,0.0,0.0,1000,0,0.0,24.1,24.4,NaN
525598,2022-10-29 23:59,-1.7,-0.2,-3.3,0.0,0.0,23.9,100.0,0.0,0.0,0.0,0.0,0.0,1000,0,0.0,24.1,24.4,NaN
525599,2022-10-30 00:00,-1.7,-0.1,-3.4,0.0,0.0,23.9,100.0,0.0,0.0,0.0,0.0,0.0,1000,0,0.0,24.1,24.4,NaN

## EDA - Togo

In [ ]:
data_togo

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-10-24 23:56,-0.8,0.0,0.0,0.0,0.0,25.2,53.8,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.3,24.0,NaN
525596,2022-10-24 23:57,-0.9,0.0,0.0,0.0,0.0,25.3,53.5,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.3,24.0,NaN
525597,2022-10-24 23:58,-1.0,0.0,0.0,0.0,0.0,25.3,53.4,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.2,23.9,NaN
525598,2022-10-24 23:59,-1.1,0.0,0.0,0.0,0.0,25.4,53.5,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.1,23.8,NaN
525599,2022-10-25 00:00,-1.2,0.0,0.0,0.0,0.0,25.4,52.3,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.1,23.8,NaN